/* =========================
   FOOTER
========================= */

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
 
    padding:12px 16px;
    font-family: 'Inter', sans-serif;
    background-color:#ffffff;

    border-top: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        #C9A84C 0%,
        #F0D080 25%,
        #FFF0A0 50%,
        #C9A84C 75%,
        #A07830 100%
    ) 1;
}

/* =========================
   LOGO AREA
========================= */

.logoArea{
    display:flex;
    align-items:center;
    flex-shrink:0;
    gap:10px;
}

.logoArea img{
    width:45px;
    height:auto;
}

.footer h1{
    font-size:16px;
    font-weight:500;
    padding-right:40px;
    margin:0;
    font-family: 'Cormorant Garamond', serif;
}

/* =========================
   COPYRIGHT
========================= */

.copyright{
    font-size:8px;
   color: #1a1a1a;
  -webkit-text-fill-color: #1a1a1a;
}

/* =========================
   TABLET
========================= */

@media (min-width:1024px){

    .footer{
        padding:16px 28px;
    }

    .logoArea img{
        width:60px;
    }

    .footer h1{
        font-size:22px;
    }

    .copyright{
        font-size:13px;
    }

}

/* =========================
   DESKTOP
========================= */

@media (min-width:1280px){

    .footer{
        padding:10px 40px;
    }

    .logoArea img{
        width:55px;
    }

    .footer h1{
        font-size:22px;
    }

    .copyright{
        font-size:14px;
    }

}