/* =========================
   TITULO DESCRICAO
========================= */

.tituloDescricao{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    text-align:left;
    gap:16px;
}
.tituloDescricao h1{
    font-size:48px;
    max-width: unset;
}
.tituloDescricao h1,
.tituloDescricao h2,
.tituloDescricao h3{
    font-family:'Cormorant Garamond', serif;
    font-weight:400;
    line-height:1.1;
    margin:0;
    color:#1a1a1a;
}
.tituloDescricao h2,
.tituloDescricao h3{
  font-size:28px ;
}

.tituloDescricao h1 em,
.tituloDescricao h2 em,
.tituloDescricao h3 em{
    font-style:italic;
    color:#C9A84C;
}


.tituloDescricao p{
    font-family:'Inter', sans-serif;
    font-size:13px;
    font-weight:400;
    line-height:1.6;
    color:#444;
    margin:0;
    max-width:420px;
    margin-bottom:10px;
}

/* =========================
   TABLET
========================= */

@media(min-width: 768px) and  (max-width:1024px){
     .tituloDescricao h1{
       font-size: 38px;
     }
    .tituloDescricao h2,
    .tituloDescricao h3{
        font-size:56px;
    }

    .tituloDescricao p{
        font-size:16px;
    }
    /* .tituloFaq h2 {
        font-size: 30px !important;
    } */
}

/* =========================
   DESKTOP
========================= */

@media (min-width:1280px){
    .tituloDescricao h1{
      font-size: 70px;
      max-width: unset;
    }
    .tituloDescricao h2,
    .tituloDescricao h3{
        font-size:50px;
    }
    .tituloDescricao p{
        font-size:18px;
    }
     /* .tituloFaq h2 {
        font-size: 34px !important;
    } */
}